<!DOCTYPE html>
<html lang="en" ng-app="Choozr">
<head>
    <meta charset="UTF-8">
    <title>Choozr</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js"></script>

    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/controllers/NewPollCtrl.js"></script>
    <script src="/javascripts/controllers/GetPollCtrl.js"></script>
    <script src="/javascripts/controllers/PollListCtrl.js"></script>

    <link rel="stylesheet" type="text/css"href="./stylesheets/style.css">
</head>

<body ng-controller="MainCtrl">
    <ul class="nav-bar">
            <li><a href="" ng-click="setRoute('viewPolls')">Choozr</a></li>
            <li><a href="" ng-click="setRoute('addPoll')">Ask</a></li>
            <li><a href="" ng-click="setRoute('getPoll')">Find</a></li>
    </ul>

<div class="container">
    <div ng-view></div>
</div>

</body>
</html>
