<!DOCTYPE html>
<html lang="en" ng-app="Choozr">
<head>
    <meta charset="UTF-8">
    <title>Choozr</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular-ui-router/1.0.0-rc.1/angular-ui-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.4/angular-resource.min.js"></script>

    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/controllers/NewPollCtrl.js"></script>
    <script src="/javascripts/controllers/GetPollCtrl.js"></script>
    <script src="/javascripts/controllers/ViewPollsCtrl.js"></script>

    <link rel="shortcut icon" href="http://i67.tinypic.com/9fpkky.png" />
    <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
</head>

<body ng-controller="MainCtrl">
    <ul class="nav-bar">
            <img src="http://i67.tinypic.com/9fpkky.png" border="0">
            <span><li><a href="" ng-click="setRoute('viewPolls')">Choozr</a></li>
            <li><a href="" ng-click="setRoute('addPoll')">Ask</a></li>
            <li><a href="" ng-click="setRoute('getPoll')">Find</a></li></span>
    </ul>

<div class="container">
    <div ng-view></div>
</div>

</body>
</html>
