body{
    background-color: #333333;
}

.po-container{
    text-align: center;
    display: block;
    padding: 20px;
}

.op-container{
    width: 400px;
    height: 300px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: grey;
}

.rec{
    position: absolute;
    bottom: 0px;
    width: 400px;
    height: 60px;
    background-color: white;
    opacity: 0.8;
}



.text .percent{
    position: absolute;
    bottom: 0px;
    text-align: center;
    font-family: helvetica;
    font-weight: 900;
    width: 400px;
}

.text{
    top:155px;
    font-size: 50px;
    opacity: 0;
}
