<div class ="ask-container">
    <div ng-switch="cbstate">
      <div ng-switch-when="not-pressed">
        <h1>Choose between... </h1>
      </div>
      <div ng-switch-when="first-pressed">
        <h1>Choose between <span class="caps">{{poll.options[0].text}}</span> and...</h1>
      </div>
      <div ng-switch-when="second-pressed">
        <h1>Choose between _____ and <span class="caps">{{poll.options[1].text}}</span></h1>
      </div>
      <div ng-switch-when="both-pressed">
        <h1>Choose between <span class="caps">{{poll.options[0].text}}</span> and <span class="caps">{{poll.options[1].text}}</span></h1>
      </div>
    </div>
    <form role="form" ng-submit="submitChoice()">
      <div class="input" ng-repeat="choice in poll.options">
        <input maxlength="20" type="text"  ng-model="choice.text" ng-change="temp=choice.text" onkeypress="activate{{$index+1}}()" placeholder="Choice {{$index+1}}"><br>
      </div>
      <button class="add" type="button" ng-click="addChoice()">+</button>
      <button class="create" type="submit">Create</button>
    </form>
</div>
