<div class ="ask-container">
      <div>
        <h1>Choose between <span class="caps">{{poll.options[0].text}}</span> and <span class="caps">{{poll.options[1].text}}</span></h1>
      </div>
    <form role="form" ng-submit="submitChoice()">
      <div class="input" ng-repeat="choice in poll.options">
        <input maxlength="15" type="text"  ng-model="choice.text" ng-change="temp=choice.text" placeholder="Choice {{$index+1}}"><br>
      </div>
      <button class="add" type="button" ng-click="addChoice()">+</button>
      <button class="create" type="submit">Create</button>
    </form>
</div>
