<div ng-switch="moduleState" ng-init="loadPage()" class="po-container">
    <div ng-switch-when="notVoted">
      <form class="op-container" ng-repeat="option in poll.options" ng-click="submitVote(option.text, poll._id)" >
        <div class="rec"></div>
        <h2 class="text">{{option.text}}</h2>
      </form>
    </div>
    <div ng-switch-when="voted">
      <form class="op-container" ng-repeat="option in poll.options">
        <div class="rec"></div>
        <h1 class="percent">{{option.percentage}}%</h1>
        <h2 class="text">{{option.text}}</h2>
      </form>
    </div>
</div>
