<div>
  <div ng-repeat="poll in polls" ng-switch="moduleState" class="po-container">
    <div ng-switch-when="notVoted">
      <form class="op-container" ng-style="{'background-image' : option.bgurl}" ng-repeat="option in poll.options" ng-click="submitVote(option.text, poll._id, {{$index}})">
        <div class="rec rec-prevote"></div>
        <h2 class="text">{{option.text}}</h2>
      </form>
    </div>
    <div ng-switch-when="voted">
      <form class="op-container" ng-repeat="option in poll.options" ng-style="{'background-image' : option.bgurl}">
        <div class="rec rec-postvote" ng-style="{ 'height': option.height, 'background-color': option.color}"></div>
        <h1 class="percent">{{option.percentage}}%</h1>
        <h2 class="text">{{option.text}}</h2>
      </form>
    </div>
  </div>
  <hr width="75%">
</div>
